<div class="container">
<h1>Iniciar sesi칩n</h1>
  <div class="row">
    <div class="col-md-5 col-centered" align="left" style="font-size: 1.1em;">
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.email_field :email, autofocus: true, placeholder: "name@example.com", required: true, label: "Correo electr칩nico / E-mail" %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "#{@minimum_password_length}6 characters minimun", required: true, label: "Contrase침a / Password" %>
      <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
      <% end -%>
      <%= f.submit "Iniciar sesi칩n", :class => 'btn btn-md btn-primary'%>
    </div>
  </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
