<!--p id="notice"><%= notice %></p-->
<div class="container">
 <!-- Project One -->
    <div class="row">
        <div class="col-md-5">
        <% @article.cover.content_type %>
        <% if @article.cover.content_type == 'video/mp4' || @article.cover.content_type == 'application/octet-stream' %>
           	<%= video_tag @article.cover.url(), class: "img-responsive", controls: true %>
        <% else %>
        	<%= image_tag @article.cover.url(:thumb), class: "img-responsive" %>
        <%end%>

        </div>
        <div class="col-md-5 ">
	        <ul class="breadcrumb">
	            <h3 style="color:black"><%= @article.title %></h3>
	            <h>Ubicación:  <%= @article.location %></h>
	            <br>
	            <h>Categorias: </h>
	        	<% @article.categories.each do |category| %>
	        		<%= link_to category.name, category%>
	        	<%end%>
	        </ul>
	            <textarea disabled style="color:black" class="form-control"><%= @article.body %></textarea>
	            <br>
	            <a class="btn btn-primary" href="#">Me gusta! <span class="glyphicon glyphicon-thumbs-up"></span>
	            </a>
	        <div class="row-md-3">
	        	<br>
	        	<% if current_account.role == "admin" %>
		            <%= link_to 'Editar artículo', edit_article_path(@article) %> |
					<%= link_to 'Artículos', articles_path %>
				<%end%>
				<br>
			</div>
			<hr style="border:1px solid black">
        </div>
    </div>
</div>
