<ul class="nav navbar-inverse navbar-nav navbar-right">
	<li class = "dropdown">
        <a href = "#opcionesCuenta" class = "dropdown-toggle " data-toggle = "dropdown" >
        <% if user_signed_in?%>
            (<%= current_account.state %>)
        	<%= "#{current_user.name} #{current_user.last_name}"%>
        <%end%>
        <span class="glyphicon glyphicon-user">
        </a>
        <ul class = "nav navbar-nav navbar-inverse dropdown-menu" role = "navigation" style="font-size: 1em;
        background-color: rgba(4,4,57,0.9);"> 
        
        <% if user_signed_in?%>
        	<li><%= link_to "Edit user", edit_user_registration_path %></li>
            <li class = "divider"></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <li class = "divider"></li>
            <li><%= link_to "Roles", accounts_path %></li>
            <li class = "divider"></li>
            <!--li><%= link_to "Cancel account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></li-->
        <%else%>
            <li><%= link_to "Log in", new_user_session_path %></li>
            <li class = "divider"></li>
            <li><%= link_to "Sign up", new_user_registration_path %>
        <%end%>
        </ul>
    </li>
</ul>