<ul class="nav navbar-inverse navbar-nav navbar-right">
	<li class = "dropdown" style="background-color: rgba(57,57,64,0.9);">
        <a href = "#opcionesCuenta" class = "dropdown-toggle " data-toggle = "dropdown" >
        <% if user_signed_in?%>
        	<%= "#{current_user.name} #{current_user.last_name}"%>
        <%end%>
        <span class="glyphicon glyphicon-user">
        </a>
        <ul class = "nav navbar-nav navbar-inverse dropdown-menu" role = "navigation" style="font-size: 0.8em;
        background-color: rgba(57,57,64,0.9);"> 

        <% if user_signed_in?%>
        	<li><%= link_to "Editar cuenta", edit_user_registration_path %></li>
            <li class = "divider"></li>
            <li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></li>
            <li class = "divider"></li>
            <% if current_account %>
                <li><%= link_to "Perfíl", accounts_path%></li>
            <%else%>
                <li><%= link_to "Perfíl", '/home/info' %></li>
            <%end%>
            <li class = "divider"></li>
            <!--li><%= link_to "Cancel account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></li-->
        <%else%>
            <li><%= link_to "Iniciar sesión", new_user_session_path %></li>
            <li class = "divider"></li>
            <li><%= link_to "Crear cuenta", new_user_registration_path %>
        <%end%>
        </ul>
    </li>
</ul>