<body style="background: url('http://wallpapercave.com/wp/aD1KJTR.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	//background-attachment: fixed;
	background-color: black;" class="img-fluid" alt="Responsive image">
<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer opacity">
    <font color="white">
    <!--p id="notice"><%= notice %></p-->
        <h1>A Warm Welcome!!!</h1>
        <p>We are a project focused on promoting tourism in the Eje Cafetero by means of coffee, since it is the product that identifies us.</p>
        <p><a class="btn btn-primary btn-large">More...</a></p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row opacity">
        <div class="col-lg-12">
            <h3>Latest Features</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center opacity">
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail wblack">
                <%=image_tag("ejeLogo.jpg")%>
                <div class="caption">
                    <h3>Articulo 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="/" class="btn btn-primary">Buy Now!</a> <a href="/" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail wblack">
                <%=image_tag("eje_cafetero.jpg")%>
                <div class="caption">
                    <h3>Articulo 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="/" class="btn btn-primary">Buy Now!</a> <a href="/" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail wblack">
                <%=image_tag("hojas_verdes.jpg")%>
                <div class="caption">
                    <h3>Articulo 3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="/" class="btn btn-primary">Buy Now!</a> <a href="/" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail wblack">
                <%=image_tag("summer_mountains.jpg")%>
                <div class="caption">
                    <h3>Articulo 4</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="/" class="btn btn-primary">Buy Now!</a> <a href="/" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Eje Tour 2017</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
</body>