<body style="background: url('http://wallpapercave.com/wp/aD1KJTR.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	//background-attachment: fixed;
	background-color: black;" class="img-fluid" alt="Responsive image">
<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer opacity">
    <font color="white">
    <!--p id="notice"><%= notice %></p-->
        <h1>Una calurosa bienvenida!!!</h1>
        <p>Somos un proyecto enfocado en promover el turismo en el eje cafetero a través de su riqueza natural y cultural...</p>
        <p><a class="btn btn-primary btn-large">Seguir leyendo...</a></p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row opacity">
        <div class="col-lg-12">
            <h3>Últimas publicaciones</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center opacity">
        <% @last_articles.each do |article|%>
        <% unless article == nil %>
        <div class="col-md-3 hero-feature">
            <div class="thumbnail wblack">
                <% if article.cover.content_type == 'video/mp4' || article.cover.content_type == 'application/octet-stream' %>
                    <%= video_tag article.cover.url(), class: "img-responsive", controls: true %>
                <% else %>
                    <%= image_tag article.cover.url(:thumb), class: "img-responsive" %>
                <%end%>
                <div class="caption">
                    <h3><%= article.title %></h3>
                    <% if user_signed_in?%>
                        <% article.categories.each do |category| %>
                            <%= link_to category.name, category%>
                        <%end%>
                    <%end%>
                    <p><%= article.body %></p>
                    <p>
                        <a href="/" class="btn btn-primary">Me gusta!</a> <a href="/" class="btn btn-default">Leer más...</a>
                    </p>
                </div>
            </div>
        </div>
        <%end%>
        <%end%>
        <!--div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail wblack">
                <%=image_tag("eje_cafetero.jpg")%>
                <div class="caption">
                    <h3>Origen de la palabra café</h3>
                    <p>...Al parecer los Arabes primitivos llamaron "Bumn" a la cereza y el arbusto, "Quishr" la pulpa y "Bunchum" a la bebida...</p>
                    <p>
                        <a href="/" class="btn btn-primary">Me gusta!</a> <a href="/" class="btn btn-default">Leer más...</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail wblack">
                <%=image_tag("hojas_verdes.jpg")%>
                <div class="caption">
                    <h3>Sabías que hay 4 tipos de café?</h3>
                    <p>Pero las más conocidas son la Arabica y Robusta...</p>
                    <p>
                        <a href="/" class="btn btn-primary">Me gusta!</a> <a href="/" class="btn btn-default">Leer más...</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail wblack">
                <%=image_tag("summer_mountains.jpg")%>
                <div class="caption">
                    <h3>El consumo de café</h3>
                    <p>El consumo ideal de café son de 2 a 5 tazas por día. Estas cantidades te permiten beneficiarte con las propiedades del café, sin correr riesgos del consumo excesivo.</p>
                    <p>
                        <a href="/" class="btn btn-primary">Me gusta!</a> <a href="/" class="btn btn-default">Leer más...</a>
                    </p>
                </div>
            </div>
        </div-->

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Eje Tour 2017</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
</body>