<div class="row">
  <div class="col-md-5 col-centered" align="left" style="font-size: 1.1em;">
    <%= bootstrap_form_for(@region) do |f| %>
      <% if region.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(region.errors.count, "error") %> prohibited this region from being saved:</h2>

          <ul>
          <% region.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.text_field :nombre, label: "nombre", required: true %>
      </div>

      <div class="field">
        <%= f.text_area :descripcion, label: "Descripción", required: true, rows: "8" %>
      </div>

      <div class="field">
        <%= f.file_field :imagen, label: "Imagen", required: true %>
      </div>

      <div class="actions">
        <%= f.submit "Guardar", :class => 'btn btn-md btn-primary' %>
      </div>
    <% end %>
  </div>
</div>