<!--p id="notice"><%= notice %></p-->
<div class="container">
	<div class="col">
    <div class="row-md-5">
			<h1><%= @region.nombre %></h1>
		</div>

		<div class="row-md-5">
			<%= image_tag @region.imagen.url(:medium), class: "img-responsive" %>
		</div>

		<div class="row-md-5">
			<h><%= @region.descripcion %></h>
		</div>

		<%= link_to 'Editar', edit_region_path(@region) %> |
		<%= link_to 'Atras', :back %>
	</div>

</div>
