<%= form_with(model: account, local: true) do |f| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role %>
    <%= collection_select(:role, :name, current_user.roles, :name, :name, {}) %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state, value: "pending", disabled: false %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category, value: "turismo", disabled: false %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, value: "pereira", disabled: false %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
