<!--p id="notice"><%= notice %></p-->
<% if user_signed_in? %>
<div class="container">
  <ul class="breadcrumb">
    <h1>Mis cuentas</h1>
  </ul>
</div>
<div class="table-responsive container">
  <table class="table table-hover">
    <thead>
      <tr style="background:lightgrey">
        <th>Estado</th>
        <th>Rol</th>
        <th>Descripción</th>
        <th colspan="3"></th>
      </tr>
    </thead>

  <% if user_signed_in?%>
    <tbody>
      <% current_user.accounts.each do |ac| %>
        <tr>
          <% unless current_account.id == ac.id %>
            <% if ac.state == "active" %>
              <td><%= button_to 'Usar', set_current_account_path(ac.id), :class => 'btn btn-xs btn-success'%>
            <% elsif ac.state == "pending"%>
              <td><%= button_to 'Pendiente', current_account = ac , :class => 'btn btn-xs btn-warning',
              :disabled => true %>
            <% elsif ac.state == "inactive"%>
              <td><%= button_to 'Inactiva', current_account = ac , :class => 'btn btn-xs btn-warning',
              :disabled => true %>
            <%end%>
          <%else%>
            <td><%= button_to 'Usando', current_account = ac , :class => 'btn btn-xs btn-warning',
              :disabled => true %>
          <%end%>
          <td><%= ac.role %></td>

          <td><%= Role.find_by_name(ac.role).description %></td>
          <% unless current_user.accounts.find_by_role("admin") || current_account.role == "root" %>
            <td><%= button_to 'Aplicar para administrador', {:controller => "accounts", :action => "apply_account", :method=>:post }, :class => 'btn btn-xs btn-primary' %></td>
          <%end%>
          <td><%= link_to "Modificar preferencias", edit_account_path(ac) %></td>
        </tr>
      <% end %>
    </tbody>
  <%end%>
  </table>
  <br>
</div>
<hr style="border:1px solid black">
<% if current_account.role != "subscribed" %>
<div class="container">
  <ul class="breadcrumb">
    <h1>Cuentas administradas</h1>
  </ul>
</div>
<div class="table-responsive container">
  <table class="table table-hover">
    <thead>
      <tr style="background:lightgrey">
        <th>Usuario</th>
        <th>Rol</th>
        <th>Categoría</th>
        <th>Ubicación</th>
        <th>Estado</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <tr>
        <% if current_account.role == "admin" and account.role == "subscribed"%>
          <td><%= account.user.email %></td>
          <td><%= account.role %></td>
          <td><%= account.role %></td>
          <td><%= account.location %></td>
          <td><%= account.state %></td>
          <!--td><button class="btn btn-xs btn-success" onclick="window.location = '/accounts'">Allow</button></td-->
          <td><%= button_to 'Cambiar estado', set_state_path(account.id), :class => 'btn btn-xs btn-primary'%>
          <!--td><%= link_to 'Show', account %></td>
          <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
        <%else%>
          <% if current_account.role == "root" and account.role == "admin"%>
            <td><%= account.user.email %></td>
            <td><%= account.role %></td>
            <td><%= account.role %></td>
            <td><%= account.location %></td>
            <td><%= account.state %></td>

            <td><%= button_to 'Cambiar estado', set_state_path(account.id), :class => 'btn btn-xs btn-primary'%>

            <!--td><%= link_to 'Edit', edit_account_path(account), class: "btn btn-xs btn -success" %></td-->
            <!--td><%= link_to 'Show', account %></td>
            <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
          <%end%>
        <%end%>
      <%end%>
        </tr>
    </tbody>
  </table>
  <br>
<% link_to 'New Account', new_account_path %>
</div>
<hr style="border:1px solid black">
<%end%>
<%end%>
<% if current_account.role == "admin" %>
  <%= render "articles/admin" %>
<%end%>

